<!--
 * Title: home.component.html
 * Author: Jennifer Hoitenga
 * Date: August 23, 2023
 * Sources Used:
 * Angular Tutorial for Beginners: How to Add Routing video by Professor Krasso (https://www.youtube.com/watch?v=2nuUKwyaCzU)
 * Angular Tutorial for Beginners: How to Create a Sign-In Form video by Professor Krasso (https://www.youtube.com/watch?v=jBcIjOtctIY)
 * Angular Tutorial for Beginners: How to How to Pass Data to Components Using Query Params by Professor Krasso (https://www.youtube.com/watch?v=PDWE7R9ABcA)
 * Bootstrap: https://getbootstrap.com/docs/4.0/content/reboot/
 * Assignment 3.4 Assignment Instructions
-->

<!-- Navigation bar for site navigation links -->
<nav class="navbar navbar-expand-sm bg-dark navbar-dark">
  <ul class="navbar-nav">
    <!-- Active navigation link for the Home page -->
    <li class="nav-item active">
      <a class="nav-link" href="#">Home</a>
    </li>
    <!-- Navigation link for the About page -->
    <li class="nav-item">
      <a class="nav-link" href="#">About</a>
    </li>
    <!-- Navigation link for the Contact page -->
    <li class="nav-item">
      <a class="nav-link" href="#">Contact</a>
    </li>
  </ul>
</nav>

<div class="container">
  <!-- Header section with line breaks -->
  <br /><br />
  <!-- Displaying the 'assignment' variable value as a heading -->
  <h2>Assignment 3.4 - Guarding Routes</h2>
  <br /><br />

  <!-- Conditional rendering based on the 'isLoggedIn' flag -->
  <div class="row">
    <!--Left Column-->
    <div class="col-md-4">
      <!-- Including the 'app-my-image' component to show profile image -->
      <app-my-image></app-my-image>
    </div>
    <!--Right Column-->
    <div class="col-md-6">
      <!-- Including the 'app-my-details' component to show profile details -->
      <app-my-details></app-my-details>
    </div>
  </div>
</div>
