<!--
 * Title: app.component.html
 * Author: Jennifer Hoitenga
 * Date: August 8, 2023
 * Description: This file contains the HTML code for the app component of the profile-app.
 * Sources Used:
 * Angular Tutorial for Beginners video by Professor Krasso (https://youtu.be/XRm0SnUJROU)
 * Typescript Tutorial for Beginners video by Professor Krasso (https://youtu.be/psk_H7q82Nw)
 * Bootstrap List-Group: https://getbootstrap.com/docs/4.0/components/list-group/
 *-->

<!-- Navigation bar with a dark background -->
<nav class="navbar navbar-expand-sm bg-dark navbar-dark">
  <!-- Unordered list for navigation links -->
  <ul class="navbar-nav">
    <!-- Home link -->
    <li class="nav-item active">
      <a class="nav-link active" href="#">Home</a>
    </li>
    <!-- About link -->
    <li class="nav-item">
      <a class="nav-link" href="#">About</a>
    </li>
    <!-- Contact link -->
    <li class="nav-item">
      <a class="nav-link" href="#">Contact</a>
    </li>
  </ul>
</nav>

<div class="container">
  <!--Header with breaks-->
  <br /><br />
  <h2>{{ assignment }}</h2>
  <div class="row">
    <!--Left Column-->
    <div class="col-md-4">
      <!--Profile Image-->
      <app-my-image></app-my-image>
    </div>
    <!--Right Column-->
    <div class="col-md-4">
      <!--Profile Details-->
      <app-my-details></app-my-details>
    </div>
  </div>
</div>
