<!--
 * Title: my-image.component.html
 * Author: Jennifer Hoitenga
 * Date: August 8, 2023
 * Description: This file contains the HTML code for the my-image component of the profile-app.
 * Sources Used:
 * Angular Tutorial for Beginners video by Professor Krasso (https://youtu.be/XRm0SnUJROU)
 * Typescript Tutorial for Beginners video by Professor Krasso (https://youtu.be/psk_H7q82Nw)
 * Bootstrap List-Group: https://getbootstrap.com/docs/4.0/components/list-group/
 *-->

<!--My profile picture-->
<img src="/assets/profile.png" alt="Profile Picture" />
