<!--
 * Title: my-details.component.html
 * Author: Jennifer Hoitenga
 * Date: August 8, 2023
 * Description: This file contains the HTML code for the my-details component of the profile-app.
 * Sources Used:
 * Angular Tutorial for Beginners video by Professor Krasso (https://youtu.be/XRm0SnUJROU)
 * Typescript Tutorial for Beginners video by Professor Krasso (https://youtu.be/psk_H7q82Nw)
 * Bootstrap List-Group: https://getbootstrap.com/docs/4.0/components/list-group/
 *-->

<!--A Bootstrap unordered list of my details-->
<ul class="list-group">
  <!-- List item for Name -->
  <li class="list-group-item"><strong>Name: </strong>Jennifer Hoitenga</li>
  <!-- List item for Favorite Food -->
  <li class="list-group-item"><strong>Favorite Food: </strong>Mushrooms</li>
  <!-- List item for Favorite Color -->
  <li class="list-group-item"><strong>Favorite Color: </strong>Green</li>
</ul>
